.main-header
{
    display: flex;
    background-color: rgb(252, 242, 253);
    color: rgb(100, 65, 165);
}
.navigation
{
    width: 100%;
}
.navigation ul
{
    float: right;
    width: 100%;
    text-align: right;
}
.navigation-tabs
{
    display: inline-block;
    margin-left: 2.5%;
    margin-right: 2.5%;
    font-weight: bolder;
}
.logo-container
{
    padding: 3%;
}
.logo
{
    width: 20%;
    height: 10%;
}
.heading
{
    font-weight: bolder;
}
.search-box
{
    border: 2px solid rgb(100, 65, 165);
    background-color: rgba(100, 65, 165, 0.274);
    display: flex;
    width: 80%;
    float: right;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;

}
.search-box:focus-within
{
    border: 2px solid rgb(122, 102, 160);
}
.search-box input
{
    width: 90%;
    background: transparent;
}
.welcome-message
{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(251, 246, 252);
    color: rgb(100, 65, 165);
    min-height: 200px;
    max-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 75%;
}
.card
{
    background-color: rgb(251, 246, 252);
    min-width: 30%;
    max-width: 30%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
}
.card-header
{
    flex: 2;
    padding: 5%;
}
.card-header img
{
    width: 100px;
    min-height: 100px;
    max-height: 100px;
    display: block;
    margin: 0 auto;
}
.card-body
{
    flex: 3;
    padding: 5%;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(100, 65, 165);
    text-align: center;
}
.card-footer
{
    flex: 1;
    padding: 5%;
}
.card-footer button
{
    display: block;
    margin: 0 auto;
    background-color: transparent;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(100, 65, 165);
    border: 2px solid rgb(100, 65, 165);
    border-radius: 5px;
}
.card-footer button:hover
{
   background-color: rgba(100, 65, 165, 0.274);
   font-weight: bolder;
}
.description-container
{
    display: flex;
    flex-direction: row;
    width: 75%;
}
.description-container div
{
    padding: 3%;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(100, 65, 165);
}
/*
----------- Footer -----------
*/
footer
{
    display: flex;
    padding: 5%;
    flex-direction: row;
    background-color: rgb(100, 65, 165);
}
/*
----------- Contact List -----------
*/
.contact-list
{
    width: 100%;
}
.contact-list li
{
    margin-bottom: 3%;
}
.contact-list li i
{
    margin-right: 2%;
}
.contact-list li:last-child
{
    margin-bottom: 0;
}
/*
----------- Media Queries -----------
*/
@media screen and (max-width: 736px)
{
    .main-header
    {
        flex-direction: column;
    }
    .search-box
    {
        width: 40%;
    }
    .navigation ul
    {
        float: left;
    }
    .description-container
    {
        flex-direction: column;
    }
    .card-container
    {
        flex-direction: column;
    }
    .card
    {
        min-width: 100%;
        max-width: 100%;
    }
    footer
    {
        flex-direction: column;
        padding-top: 8%;
        padding-bottom: 8%;
    }
    footer div
    {
        margin-bottom: 5%;
    }
    footer div:last-child
    {
        margin-top: 5%;
        margin-bottom: 0;
    }
}
@media screen and (max-width: 540px)
{
    .navigation ul
    {
        width: 100%;
        text-align: left;
    }
    .navigation-tabs
    {
        display: block;

    }
    .welcome-message
    {
        font-size: 30px;
    }
}