html,
body,
div,
header,
main,
footer,
nav,
ol,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
span,
i,
input,
img
{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; /*The vertical-align property in CSS controls how elements set next to each other on a line are lined up.*/
}
ul,
ol
{
    list-style: none;
}
input:focus
{
    outline: none
}