/*
    Variables declaration
*/
$font: Arial;
$padding: 15px;
$border: 15px;
$desktop: 750px;
$colors : (
    primary: #005DFf,
    primary-light: lighten(#005DFf,40%),
    primary-dark: darken(#005DFf,40%),
    accent: #FFF6BB,
    light: #ffffff,
    dark: #000000
);

/* 
    Helper function
*/
@function color($color-name)
{
    @return map-get($colors,$color-name);
}

/*
    Mixin for media queries
*/
@mixin desktop {
    @media (min-width:#{$desktop})
    {
        @content;
    }
}

html, body
{
    width: 100%;
    height: 100%;
    margin: 0;
}
body
{
    #background
    {
        background-color: color(primary);
        clip-path: polygon(100% 0, 100% 81%, 39% 100%, 0 100%, 0 0);
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
        @include desktop
        {
            clip-path: polygon(0 0, 80% 0%, 49% 100%, 0% 100%);
        }
    }
    header a 
    {
        color: color(light);
        padding: $padding;
        display: block;
        text-decoration: none;
        font-family: $font;
        text-transform: uppercase;
    }
}
main
{
    @include desktop
    {
        display: grid;
        grid-template-columns: 50% auto;
        grid-template-areas: "primary card";
    }
    #card
    {
        background-color: color(light);
        margin: 1em auto;
        padding: $padding;
        border-radius: $border;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
        width: 80%;
        font-family: $font;
        @include desktop
        {
           grid-area: card;
           height: fit-content;
           align-self: center;
           margin: 1em;
        }
        ul 
        {
            margin: 0;
            padding: 0;
            list-style: none;
            li 
            {
                margin-bottom: 10px;
                span 
                {
                    position: absolute;
                    width: 30px;
                    height: 30px;
                    background-color: color(primary-light);
                    border-radius: 50%;
                    margin-right: 10px;
                }
                strong
                {
                    display: inline-block;
                    margin-left: max(40px);
                    margin-top: 10px;
                }
            }
        }
    }
    #primary
    {
        color: color(light);
        padding: $padding;
        text-align: center;
        @include desktop
        {
           grid-area: primary;
           text-align: left;
           margin: 4em 0 0 4em;
        }
        h1 
        {
            font-size: 2em;
            margin-top: 10px;
            text-transform: uppercase;
            font-family: $font;
            @include desktop
            {
                width: 30%;
                font-size: 4em;
                line-height: .9em;
            }
        }
        p 
        {
            font-size: 1em;
            font-family: $font;
        }
        a 
        {
            color: color(primary-dark);
            border-radius: $border;
            text-decoration: none;
            text-transform: uppercase;
            text-align: center;
            background-color: color(accent);
            display: block;
            margin: 1em auto;
            padding: $padding;
            font-family: $font;
            font-weight: bolder;
            @include desktop
            {
                display: inline-block;
                padding: $padding $padding * 4;
            }
        }
    }
}