$colors : (
    primary: #005DFf,
    accent: #FFF6BB
);

html, body
{
    width: 100%;
    height: 100%;
    margin: 0;
}
body
{
    #background
    {
        background-color: map-get($colors, primary);
        clip-path: polygon(100% 0, 100% 81%, 39% 100%, 0 100%, 0 0);
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
    }
}